{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_avatar, render_user_screen_name %}
{% set current_page = 'whereabouts_admin' %}
{% set current_page_party = party %}
{% set page_title = 'Orga-Verbleib' %}

{% block head %}
    <meta http-equiv="refresh" content="10">
    <style>
    .grid.statuses {
      --column-min-width: 8rem;
    }

    .statuses .row {
      gap: 0.5rem;
    }
    </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>{{ page_title }}</h1>
    </div>
    {%- if has_current_user_permission('whereabouts.administrate') %}
    <div>
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>{{ _('Add') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- if whereabouts_list %}
    <div class="grid" style="--column-min-width: 24rem;">
    {%- for whereabouts in whereabouts_list|sort(attribute='position') %}
      {%- with statuses = statuses_by_whereabouts[whereabouts.id] %}
        {%- if statuses or not whereabouts.hide_if_empty %}
      <div>
        <h2>{{ whereabouts.description }} {{ render_extra_in_heading(statuses|length) }}</h2>

          {%- if statuses %}
        <div class="box grid statuses">
            {%- for status in statuses|sort(attribute='set_at') %}
          <div class="row">
            <div>{{ render_user_avatar(status.user, size=40) }}</div>
            <div>
              {{ render_user_screen_name(status.user) }}<br>
              <small class="dimmed">{{ _('since') }} {{ status.set_at|timedeltaformat }}</small>
            </div>
          </div>
            {%- endfor %}
        </div>
          {%- else %}
        <div class="box dimmed">{{ _('nobody') }}</div>
          {%- endif %}
      </div>
        {%- endif %}
      {%- endwith %}
    {%- endfor %}
    </div>
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">{{ _('No whereabouts defined.') }}</div>
  </div>
  {%- endif %}

{%- endblock %}
