{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/user.html' import render_user_avatar_and_name %}
{% set current_page = 'whereabouts_admin' %}
{% set page_title = 'Orga-Verbleib' %}

{% block body %}

<h1>{{ page_title }}</h1>

<h2>Tags {{ render_extra_in_heading(tags|length) }}</h2>

<div class="box">
  {%- if tags %}
  <table class="index index--wide">
    <thead>
      <tr>
        <th>Tag</th>
        <th>{{ _('User') }}</th>
        <th>{{ _('Sound filename') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for tag in tags|sort(attribute='tag') %}
      <tr>
        <td>{{ tag.tag }}</td>
        <td>{{ render_user_avatar_and_name(tag.user, size=16) }}</td>
        <td>{{ tag.sound_filename|fallback }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">{{ _('None defined') }}</div>
  {%- endif %}
</div>

{%- endblock %}
